#navlist ul li{
	list-style: none;
	display: inline;
	height: 40px;
	margin: 45px;
    overflow: hidden;
}


#navlist ul li a:hover{
	background: rgba(225, 225, 225, 0.5);
	padding-bottom: 10px;
	height: 40px;
}